.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Center content vertically */
}

.product-container {
  display: flex;
  justify-content: center; /* Aligns the cards horizontally in the center */
  align-items: center;
  gap: 60px; /* Spacing between cards */
}

.product-card {
  width: 200px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.product-card:hover {
  transform: scale(1.05);
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

.product-name {
  margin-top: 10px;
  font-size: 18px;
  color: #333;
}
